img{
  width: 450px; height: 450px; object-fit: cover; object-position: 100% 0;
}

.container{
  position: relative;
  display: inline-block;
  padding: 50px 100px;
}

.container .text{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;        
  text-align: center;
  top: 40%;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial,sans-serif;
  color: #fff;
  width: 60%; 
  
}